:root {
  --bg0: #DADADA;
  --fg0: #111111;
  --ac0: #ACACAC;
  --ac1: #000000;
  --red: #ff5722;
  --grn: #4CAF50;
  --ylw: #ffeb3b;
}
.dark {
  --bg0: #111111;
  --fg0: #DADADA;
  --ac0: #000000;
  --ac1: #ACACAC;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/* box box box */
html {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: var(--ac0);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

body {
  display: block;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 75px 0 0 0;
  background-color: var(--bg0);
  color: var(--fg0);
}



/* header */
nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 74px;
  height: 74px;
  margin: 0;
  padding: 10px;
  border: 0;
  background-color: var(--fg0);
  color: var(--bg0);
}
body, nav {
  max-width: 1080px;
}
.topspace {
  display: block;
  margin: 70px 0;
}
.htbox {
  display: block;
  margin: 0;
  width: 100%;
  height: 54px;
  padding: 5px;
  text-align: left;
}
.htitle {
  font-size: 44px;
  line-height: 44px;
  font-weight: 400;
  cursor: pointer;
}
.hibox {
  display: block;
  margin: 0;
  width: 100%;
  height: 54px;
  padding: 5px;
  text-align: right;
}
.hicon {
  font-size: 44px;
  line-height: 44px;
  font-weight: 200;
  cursor: pointer;
  text-align: center;
}

.searchbox {
  display: grid;
  grid-template-columns: auto 80px 5px 70px;
  margin: 10px;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}

/* ROW */

.row {
  display: grid;
  width: 100%;
  margin: 0;
  grid-template-columns: 50% 50%;
  font-size: 15px;
}
.row4 {
  display: grid;
  width: 100%;
  margin: 0;
  grid-template-columns: 25% 25% 25% 25%;
  font-size: 15px;
}
.card {
  display: block;
  margin: 0px 10px 10px 10px;
  padding: 5px;
  background-color: var(--bg0);
  color: var(--fg0);
  border: solid 1px var(--fg0);
}
.cardl {
  display: block;
  margin: 0 5px 10px 10px;
  padding: 5px;
  background-color: var(--bg0);
  color: var(--fg0);
  border: solid 1px var(--fg0);
}
.cardr {
  display: block;
  margin: 0 10px 10px 5px;
  padding: 5px;
  background-color: var(--bg0);
  color: var(--fg0);
  border: solid 1px var(--fg0);
}
@media(min-width: 1080px) {
  body {
    outline: solid 10px var(--fg0);
  }
}

@media(max-width: 760px) {
  nav {
    grid-template-columns: auto 44px;
    height: 44px;
    padding: 5px;
  }
  .topspace {
    margin: 8px 0;
  }
  .htbox {
    height: 34px;
    padding: 5px;
  }
  .htitle {
    font-size: 24px;
    line-height: 24px;
  }
  .hibox {
    height: 34px;
    padding: 5px;
  }
  .hicon {
    font-size: 24px;
    line-height: 24px;
  }
  .searchbox {
    grid-template-columns: auto 70px 5px 60px;
  }
  .row {
    grid-template-columns: 100%;
    font-size: 14px;
  }
  .row4 {
    grid-template-columns: 50% 50%;
  }
 .searchbox, .card, .cardl, .cardr {
    margin: 10px 10px 0 10px;
  }
}



/* Color */
.grn {
  background-color: var(--grn);
  color: var(--bg0);
}




/* Font Size */
h1,h2 {
  display: block;
  line-height: 1;
}
h1,h2:first-child{
  margin-top: 0;
}
h1{font-size: 20px;font-weight: 700;margin: 5px 0}
h2{font-size: 16px;font-weight: 700;margin: 5px 0 5px 0;}
p,small {
  margin: 5px 0;
  font-weight: 400;
}

p{font-size: 14px;line-height: 1.2;}
small{font-size: 14px;line-height: 1;}
hr{
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  border-bottom: thin var(--ac0)}
mark{
  background-color: var(--ac1);
  color: var(--bg0);
  padding: 2px 5px;
  border-radius: 2px;
}


/* Input, Button, Link */
input{
  width: 100%;
  margin: 0 auto;
  resize: none;
  padding: 5px;
  background-color: var(--bg0);
  color: var(--fg0);
  border: solid 1px var(--fg0);
  font-size: inherit;
}
button {
  display: block;
  padding: 2px 5px;
  border: solid 1px var(--fg0);
  background-color: var(--fg0);
  color: var(--bg0);
  cursor: pointer;
  border-radius: 3px;
  font-size: inherit;
}
button:hover {
  border: solid 1px var(--fg0);
  background-color: var(--bg0);
  color: var(--fg0s);
  text-decoration: underline;
}
.rad0 {
  border-radius: 0;
}
a{
  color: inherit;
  text-decoration: none;
}

a::after{
  content: "↗";
  margin-right: 5px;
}
footer > a::after{
  content: "";
  margin-right: 5px;
}

.base{
  color: var(--fg0);
}
.sccs{
  color: var(--grn);
}
.fail{
  color: var(--red);
}






.boxheader {
  display: grid;
  grid-template-columns: auto 20px;
  height: 25px;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: solid 1px var(--ac0);
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
.boxt {
  display: block;
  margin: 0;
  width: 100%;
  height: 20px;
  padding: 0;
}
.boxb {
  cursor: pointer;
  font-weight: 700;
}

/* Box Box Box */


.box {
  display: block;
  margin: 10px 10px 0 10px;
  padding: 5px;
  background-color: var(--bg0);
  color: var(--fg0);
  border: solid 1px var(--fg0);
}

.tbox {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.tbox:last-child{border-bottom: 0;}


/* Footer */
footer {
  margin: 10px auto 0 auto;
  width: 100%;
  background-color: var(--fg0);
  color: var(--bg0);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 400;
}
footer > a {
  font-size: 14px;
  font-weight: 200;
  color: var(--ac0);
}

.tar {text-align: right;}
.tac {text-align: center;}

table {
  width: 100%;
  margin: 0 auto;
  border: none;
  border-spacing: 0;
}
td{
  word-break: break-all;
}
@media(max-width: 420px) {
  td {
    font-size: 12px;
  }
  small{
    font-size: 12px;
  }
  .tbox{
    font-size: 12px;
  }
}
strong{
  font-weight: 700;
}
.imp {
  font-weight: 700;
}
span{
  font-size: inherit;
  font-weight: inherit;
}
/*
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600;700&amp;display=swap" rel="stylesheet">
*/